* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
width: 1440px;
height: 1024px;
} 
.barradetarefas{
position: absolute;
top: 0px;
left: 0px;
width: 1870px;
height: 100px;
background-color: #acacac;
}


#logotext:hover{
    transform:scale(1.1)
 }

#logo{
    position: absolute;
    top: 0px;
    left: 20px;
    width: 280px;
    height: 100px;
    z-index: 1;

}

#fundo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 1000px;
    z-index: -1;

}

 #quemtext:hover{
    transform:scale(1.1)
 }
#quemtext {
    position: absolute;
    top: 40px ;
    left: 315px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


#projetostext:hover{
    transform:scale(1.1)}

#projetostext {
    position: absolute;
    top: 40px ;
    left: 600px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#cadastrotext:hover{
    transform:scale(1.1)
 }

#cadastrotext {
    position: absolute;
    top: 40px ;
    left: 1500px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#contatotext:hover{
    transform:scale(1.1)
 }

#contatotext {
    position: absolute;
    top: 40px ;
    left: 1300px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#separaçãotext {
    position: absolute;
    top: 40px ;
    left: 550px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#separação1text {
    position: absolute;
    top: 40px ;
    left: 970px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#separação2text {
    position: absolute;
    top: 40px ;
    left: 1250px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#separação3text {
    position: absolute;
    top: 40px ;
    left: 1460px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#separação4text {
    position: absolute;
    top: 40px ;
    left: 1630px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


#contextotext {
    position: absolute;
    top: 200px ;
    left: 60px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#contexto1text {
    position: absolute;
    top: 330px ;
    left: 60px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#contexto2text {
    position: absolute;
    top: 500px ;
    left: 60px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#contexto3text {
    position: absolute;
    top: 630px ;
    left: 60px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#contexto4text {
    position: absolute;
    top: 755px ;
    left: 60px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}  

#comotext:hover{
    transform:scale(1.1)
 }

#comotext {
    position: absolute;
    top: 40px ;
    left: 1000px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#comentario1text {
    position: absolute;
    top: 150px ;
    left: 90px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#comentario2text {
    position: absolute;
    top: 320px ;
    left: 90px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#comentario3text {
    position: absolute;
    top: 480px ;
    left: 90px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#comentario4text {
    position: absolute;
    top: 645px ;
    left: 90px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#comentario5text {
    position: absolute;
    top: 800px ;
    left: 90px;
    font-size: 20px;
    color: #000000;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#perfil{
    position: absolute;
    top: 170px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;

}

#perfil2{
    position: absolute;
    top: 350px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;

}

#perfil3{
    position: absolute;
    top: 520px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;

}

#perfil4{
    position: absolute;
    top: 690px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;

}

#perfil5{
    position: absolute;
    top: 820px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;

}